@model QLHOLIDAYPARTY.Models.GoT

@{
    ViewBag.Title = "info";
}

<h2>info</h2>

<div>
    <h4>GoT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.titles)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.titles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.culture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.culture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.born)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.born)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.died)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.died)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.culture)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.culture)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.aliases)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.aliases)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.books)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.books)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.playedBy)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.playedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.tvSeries)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.tvSeries)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.father)
        </dt>

        <dd>
            @if (Model.father != null)
            {
                <a href="/GoT/info?url=@Model.father">@Model.father</a>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mother)
        </dt>

        <dd>
            @if (Model.mother != null)
            {
                <a href="/GoT/info?url=@Model.mother">@Model.mother</a>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spouse)
        </dt>

        <dd>
            @if (Model.spouse != null)
            {
                <a href="/GoT/info?url=@Model.spouse">@Model.spouse</a>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "displayGuest", "Home")
</p>
