@model QLHOLIDAYPARTY.Models.RegisterModel
@{
    ViewBag.Title = "dishDisplay";
    
}
<h1> Dishes</h1>
@if (Model.d.PersonalName == "No Dish")
{
    <h4>@Model.d.PersonalName :(</h4>
}
else
{
    <div class="form-group">
        <h3>Name: @Model.d.PersonalName</h3>
        @if (!string.IsNullOrEmpty(Model.d.DishName))
        {
            <h3>Dish: @Model.d.DishName</h3>
            <h3>Dish Description: @Model.d.DishDescription</h3>
            <h3>Dish Options: @Model.d.Options</h3>
        }
        else
        {
            <h3>No Dish :(</h3>
        }

    </div>
}