@model QLHOLIDAYPARTY.Models.Dish
@{
    ViewBag.Title = "Done!";
}
<h2>Done!</h2>
<h3>Name: @Model.PersonName</h3>
<h3>Contect: @Model.PhoneNumber</h3>
<h3 >Email: @Model.DishName</h3>
<h3>Description: @Model.DishDescription</h3>
<br />
<h3>Special Options: @Model.Options</h3>
<br />