@model QLHOLIDAYPARTY.Models.JordanPartyDbEntities1
@{
    ViewBag.Title = "GuestDispay";
    int n = 1;
    var temp = Model.Guests.ToList();
    var temp1 = Model.Guests.GroupJoin(Model.Dishes,
                             a => (a.FirstName + " " + a.LastName),
                             b => b.PersonalName,
                             (a, b) => new { a, b }).SelectMany(x => x.b.DefaultIfEmpty(), (x, c) => new { x.a, c.DishName }).ToList();
    }

<h2>Guest List</h2>

<table class="table">
    <tr>
        <td>#</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Attendence Day</td>
        <td>EmalAddress</td>
        <td>Guest</td>
        <td>Dish?</td>
        <td>Delete</td>
    </tr>

    @foreach (var v in temp1)
    {
        <tr>
            <td>@(n++)</td>
            <td>@v.a.FirstName</td>
            <td>@v.a.LastName</td>
            <td>@v.a.AttendanceDate</td>
            <td>@v.a.EmailAddress</td>
            <td>@v.a.Guest1</td>
            <td>@v.DishName</td>
            <td><a href="/Home/DELETEGUEST?id=@v.a.GuestId">DELETE</a></td>
        </tr>
    }
</table>